.form-search{
	padding:10px;
}

.hidden
{	
	display:none; 
}

.visible
{
	display:inline-block;
}

.favorite-item
{
	/*font-size: 18px;*/
	margin: 10px;
}

.prereq-item
{
	/*font-size: 18px;*/
	margin-right: 10px;
}


#loggedintext{
	color: white;
}